.graph {
	display: flex;
	width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #D8D8D8;
    padding: 20px;
    box-sizing: border-box;
}

.graph-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 10px;
	width: 50px;
}

.graph-item-value {
	font-weight: bold;
}

.graph-item-rank {
	background-color: #58D3F7;
	margin: 5px 0;
}

.updateGraph {
    border: 1px solid #D8D8D8;
    margin-top: 10px;
    padding: 20px;
}

.updateGraph select,
.updateGraph input,
.updateGraph button {
    width: 100px;
    margin: 10px; 
}